/* Global Styles */
@font-face {
    font-family: 'hey_comicregular';
    src: url('path/to/fonts/hey_comic/hey_comic-webfont.woff2') format('woff2'),
         url('path/to/fonts/hey_comic/hey_comic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url('assets/background.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: antiquewhite;
}

/* Navbar Styles */
.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background: #7a28d7;
	color: #fff;
	padding: 1rem 2rem;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar_menu {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar_item {
	margin-right: 1rem;
}

.navbar_link {
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease;
}

.navbar_link:hover {
	color:  #D3BBFCff;
}

/* Header Styles */
.home {
	height: 120vh;
	background: #839ae1cc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1000;

}
.home img {
	width: fit-content;
}

.judul {
	margin-bottom: 2rem;
}

.judul h1 {
	font-size: 4rem;
	font-weight: bold;
	color: #fff;
}

.judul p {
	font-size: 2rem;
	color: #fff;
}

.deskripsi button {
	font-family: 'hey_comicregular', Arial, sans-serif;
	border: none;
	padding: 0.75rem 2rem;
	background: #5846f9;
	color: #fff;
	font-size: 1rem;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.deskripsi button:hover {
	background-color: #454D7A;
}

/* style card-categories */
.cards-categories {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .cards-categories h2 {
	font-family: 'hey_comicregular', Arial, sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
  }
  
  .card-categories {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  
  .card {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
  }
  
  .card img {
	width: 200px;
	height: auto;
	border-radius: 15px 15px 0 0;
	overflow: hidden;
  }
  
  .card-content {
	padding: 20px;
  }
  
  .card h5 {
	margin-bottom: 10px;
	font-family: 'hey_comicregular', Arial, sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #333;
  }
  
  .card p.description {
	font-size: 14px;
	color: #666;
	margin-bottom: 15px;
  }
  
  .card p.price {
	font-size: 18px;
	font-weight: bold;
	color: #7a28d7;
	margin-bottom: 15px;
  }
  
  .card .btn_belanja {
	background-color: #7a28d7;
	padding: 12px 20px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 16px;
  }
  
  .card .btn_belanja:hover {
	background-color: #7a28d7;
  }

/* Fitur Styles */
.fitur {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 2rem;
}

.kotak {
	text-align: center;
	margin: 0 2rem;
}

.kotak img {
	width: 100px;
}

.kotak p {
	font-size: 1.25rem;
	color: #fff;
	margin-top: 0.5rem;
}

h2 {
	text-align: center;
	color: #7a28d7;
}

button {
	margin-bottom: 20px;
	margin-left: 20px;
}

p {
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.carousel-container {
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}

.carousel-slide {
	display: flex;
	transition: transform 0.5s ease;
}

.carousel-slide img {
	margin-right: 10px; /* Adjust the margin as needed */
}

/* Style untuk input text */
input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 250px;
	margin-right: 10px;
	font-size: 14px;
  }
  
  /* Style untuk tombol subscribe */
  .button-subscribe {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
  }
  
  /* Hover effect untuk tombol subscribe */
  input[type="submit"] {
	background-color: #7a28d7;
	font-family: 'hey_comicregular', Arial, sans-serif;
	border: none;
	padding: 0.75rem 2rem;
	color: #fff;
	font-size: 1rem;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }

/* Tampilan pop-up */
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #4e3569;
	padding: 20px;
	color: #fff;
	border-radius: 10px;
	z-index: 1000;
}

.popup input[type="text"] {
	width: 200px;
	padding: 5px;
	margin-right: 10px;
}

.popup input[type="submit"] {
	padding: 5px 10px;
	background-color: #007bff;
	border: none;
	color: #fff;
	cursor: pointer;
}

/* Media Query for Smartphone */
@media screen and (max-width: px) {
    .header {
        padding: 0.5rem 1rem;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
		position: fixed;
    }

    .navbar_item {
        margin-right: 0;
    }

    .navbar_link {
        width: 100%;
        justify-content: center;
    }

    .home {
        padding: 2rem;
        background-size: cover;
        background-position: center;
		padding-bottom: 0.4rem;
    }

    .judul h1 {
        font-size: 2rem;
    }

    .judul p {
        font-size: 1rem;
    }

    .deskripsi button {
        width: 100%;
        margin-top: 1rem;
    }

	.fitur {
		display: grid;
		justify-content: space-around;
		align-items: center;
		margin-top: 2rem;
		flex-wrap: wrap; 

	.kotak {
		text-align: center;
		margin: 1rem;
		flex-basis: 45%; 
	}

    .kotak img {
        width: 80px;
    }

	.kotak p {
		font-size: 1rem; /* Mengurangi ukuran font untuk responsivitas */
		color: #fff;
		margin-top: 0.5rem;
	}
}